@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
    @if $vendors {
      @each $vendor in $vendors {
        #{'-' + $vendor + '-' $prop}: #{$value};
      }
    }
    #{$prop}: #{$value};
  }
}

@mixin house-bg($colour, $intensity, $property: background-color) {
  #{$property}: lighten(
    saturate($colour, 45), $intensity
  );
}

@mixin house-colours($element, $intensity: 16) {
  @each $houseName, $houseColour in $houses {
    .#{$houseName + '-' + $element} {
      @include house-bg($houseColour, $intensity);
      border-color: $houseColour;
      color: $houseColour;
    }
  }
}

@mixin house-typography($element) {
  @each $houseName, $houseColour in $houses {
    .#{$element + '-' + $houseName} {
      color: $houseColour;
    }
  }
}

@mixin house-arrows {
  @each $houseName, $houseColour in $houses {
    .#{$houseName + '-select-arrow i'} {
      border-top: 7px solid $houseColour;
    }
  }
}

@mixin house-answer-checks {
  @each $houseName, $houseColour in $houses {
    .#{$houseName + '-correct-answer-check'} {
      color: darken($houseColour, 10);
    }
  }
}
