// Typography variables
$font-stack: Dosis, sans-serif;

// Base house colour variables
$acton: #8ad5f8;
$baxter:#f3bc79;
$clive: #5eb7bf;
$darwin: #a37ac2;
$houseman: #c66e6d;

$houses: (acton, $acton), 
         (baxter, $baxter), 
         (clive, $clive),
         (darwin, $darwin), 
         (houseman, $houseman);