.answer
{
    font-family: $font-stack;
    font-size: 28px;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px 0 10px 20px;

    transition: all .2s ease;

    border: 3px solid;
    border-radius: 4px;

    @include size(100%, 80px);
}

.letter
{
    padding-right: 15px;
}

.answer-check
{
    font-size: 35px;

    position: relative;
    bottom: 17px;

    float: right;

    height: 76px;
    padding: 12px 25px 0 25px;
}

.answer-edit
{
    font-size: 35px;

    position: absolute;
    position: relative;
    bottom: 3px;

    float: right;

    height: 76px;
}

@include house-colours('answer', 19);
@include house-colours('correct-answer', 25);
@include house-answer-checks(13);
