.answer-block
{
    font-family: $font-stack;
    font-size: 35px;

    margin-right: 10px;
    margin-bottom: 10px;
    // padding: 90px;

    text-align: center;

    display: inline-block;

    border: 3px solid;
    border-radius: 4px;
    height: 240px;
    width: 49%;
    transition: all 0.2s ease;
}

.answer-block:active
{
    -webkit-transform: scale(.6) !important;
            transform: scale(.6) !important;

    opacity: .8;
}
