.button {
  font-family: $font-stack;
  font-size: 25px;

  display: inline-block;

  padding: 8px;

  cursor: pointer;
  text-align: center;

  border: 3px solid;
  border-radius: 4px;

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;

  @include size(200px, 60px);
}

@include house-colours('button', 20);

.button:active {
  transform: scale(0.6) !important;
  -webkit-transform: scale(0.6) !important;
}

// .button:hover {
//   transform: scale(1.1);
//   -webkit-transform: scale(1.1);
// }

.login-button {
  margin: 6px 0 10px 140px;
}

.button-group {
  position: absolute;
  bottom: 10px;
}

.create-quiz-button {
  margin-right: 10px;
}
