.button {
  font-family: $font-stack;
  font-size: 25px;

  display: inline-block;

  margin: 6px 0 10px 140px;
  padding: 8px;

  cursor: pointer;
  text-align: center;

  border: 3px solid;
  border-radius: 4px;

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;

  @include size(200px, 60px);
}

@include house-colours('button');

.button:active {
  transform: scale(0.6) !important;
  -webkit-transform: scale(0.6) !important;
}

.button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
