h1 {
  font-family: Dosis, sans-serif;
  font-size: 70px;
  margin-bottom: 5px; }

h2 {
  font-family: Dosis, sans-serif;
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 5px; }

h3 {
  font-family: Dosis, sans-serif;
  margin-bottom: 30px; }

p {
  font-family: Dosis, sans-serif;
  font-size: 26px; }

.ReactModal__Content label {
  font-family: Dosis, sans-serif;
  font-size: 17px;
  padding-bottom: 3px;
  clear: both;
  display: block; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

.centre {
  text-align: center; }

.h1-acton {
  color: #63a4c2; }

.h1-baxter {
  color: #be8f56; }

.h1-clive {
  color: #53b2bb; }

.h1-darwin {
  color: #9c70bd; }

.h1-houseman {
  color: #c26362; }

.h1-webb {
  color: #c2ac53; }

.h2-acton {
  color: #63a4c2; }

.h2-baxter {
  color: #be8f56; }

.h2-clive {
  color: #53b2bb; }

.h2-darwin {
  color: #9c70bd; }

.h2-houseman {
  color: #c26362; }

.h2-webb {
  color: #c2ac53; }

.h3-acton {
  color: #6aa8c5; }

.h3-baxter {
  color: #c1945d; }

.h3-clive {
  color: #5ab5be; }

.h3-darwin {
  color: #a177c0; }

.h3-houseman {
  color: #c56a69; }

.h3-webb {
  color: #c5af5a; }

.p-acton {
  color: #67a6c3; }

.p-baxter {
  color: #bf915a; }

.p-clive {
  color: #57b4bc; }

.p-darwin {
  color: #9e73bf; }

.p-houseman {
  color: #c36766; }

.p-webb {
  color: #c3ad56; }

.label-acton {
  color: #5fa1c0; }

.label-baxter {
  color: #bc8c52; }

.label-clive {
  color: #4fb0b9; }

.label-darwin {
  color: #996cbc; }

.label-houseman {
  color: #c05f5e; }

.label-webb {
  color: #c1aa4f; }

form {
  width: 515px;
  margin: 0 auto; }

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out; }

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg); }

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in; }

.ReactModal__Overlay--before-close {
  opacity: 0; }

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in; }

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent; }

.loginForm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  margin: auto; }

.button {
  font-family: Dosis, sans-serif;
  font-size: 25px;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  border: 3px solid;
  border-radius: 4px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  width: 215px;
  height: 60px; }

.acton-button {
  background-color: #afe2fa;
  border-color: #6eaac6;
  color: #6eaac6; }

.baxter-button {
  background-color: #fad09f;
  border-color: #c29661;
  color: #c29661; }

.clive-button {
  background-color: #9af1f9;
  border-color: #5eb7bf;
  color: #5eb7bf; }

.darwin-button {
  background-color: #ddb9f8;
  border-color: #a37ac2;
  color: #a37ac2; }

.houseman-button {
  background-color: #faafae;
  border-color: #c66e6d;
  color: #c66e6d; }

.webb-button {
  background-color: #fbe89e;
  border-color: #c6b15e;
  color: #c6b15e; }

.button:active {
  transform: scale(0.6) !important;
  -webkit-transform: scale(0.6) !important;
  opacity: 0.8; }

.login-button {
  margin: 6px 0 10px 140px; }

.button-group {
  position: absolute;
  bottom: 0; }

.create-quiz-button {
  margin-right: 10px; }

.button-icon {
  margin-left: 10px;
  position: relative;
  top: 2px; }

.setting-buttons {
  height: 50px;
  font-size: 23px;
  padding-top: 11px; }

.settings-save {
  margin-left: 15px; }

.settings-cancel {
  float: right;
  margin-right: 15px; }

select {
  font-family: Dosis, sans-serif;
  font-size: 22px;
  padding-left: 12px;
  border: 3px solid;
  border-radius: 4px;
  margin: 0px 0 10px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-top: 0 !important;
  width: 512px;
  height: 55px;
  transition: all 0.2s ease-in-out; }
  select.hover:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03); }

.select-arrow {
  margin-left: -35px;
  margin-bottom: 3px;
  display: inline-block; }

.left-arrow {
  position: relative;
  top: 20px; }

.right-arrow {
  float: right;
  position: absolute;
  right: 30px;
  top: 35px; }

.acton-select-arrow i {
  border-top: 7px solid #6eaac6; }

.baxter-select-arrow i {
  border-top: 7px solid #c29661; }

.clive-select-arrow i {
  border-top: 7px solid #5eb7bf; }

.darwin-select-arrow i {
  border-top: 7px solid #a37ac2; }

.houseman-select-arrow i {
  border-top: 7px solid #c66e6d; }

.webb-select-arrow i {
  border-top: 7px solid #c6b15e; }

.select-arrow i {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  display: block; }

.select-full {
  margin: 0;
  width: 100%;
  height: 60px; }

.select-half-parent {
  width: 50%; }

.select-half {
  width: 99%; }

.select-left {
  float: left; }

.select-right {
  float: right; }

.select-group {
  display: inline-block;
  width: 100%; }

.acton-select {
  background-color: #a1ddf9;
  border-color: #6eaac6;
  color: #6eaac6; }

.baxter-select {
  background-color: #f9c990;
  border-color: #c29661;
  color: #c29661; }

.clive-select {
  background-color: #8beff8;
  border-color: #5eb7bf;
  color: #5eb7bf; }

.darwin-select {
  background-color: #d6abf7;
  border-color: #a37ac2;
  color: #a37ac2; }

.houseman-select {
  background-color: #f9a1a0;
  border-color: #c66e6d;
  color: #c66e6d; }

.webb-select {
  background-color: #fbe58f;
  border-color: #c6b15e;
  color: #c6b15e; }

.answer {
  font-family: Dosis, sans-serif;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px 0 10px 20px;
  border: 3px solid;
  border-radius: 4px;
  transition: all 0.2s ease;
  width: 100%;
  height: 80px; }

.letter {
  padding-right: 15px; }

.answer-check {
  font-size: 35px;
  position: relative;
  bottom: 17px;
  float: right;
  height: 76px;
  padding: 12px 25px 0 25px; }

.answer-edit {
  position: absolute;
  float: right;
  font-size: 35px;
  position: relative;
  height: 76px;
  bottom: 3px; }

.acton-answer {
  background-color: #9cdbf9;
  border-color: #6eaac6;
  color: #6eaac6; }

.baxter-answer {
  background-color: #f8c78b;
  border-color: #c29661;
  color: #c29661; }

.clive-answer {
  background-color: #87eef7;
  border-color: #5eb7bf;
  color: #5eb7bf; }

.darwin-answer {
  background-color: #d4a7f6;
  border-color: #a37ac2;
  color: #a37ac2; }

.houseman-answer {
  background-color: #f99c9b;
  border-color: #c66e6d;
  color: #c66e6d; }

.webb-answer {
  background-color: #fbe48a;
  border-color: #c6b15e;
  color: #c6b15e; }

.acton-correct-answer {
  background-color: #b9e6fb;
  border-color: #6eaac6;
  color: #6eaac6; }

.baxter-correct-answer {
  background-color: #fad5a8;
  border-color: #c29661;
  color: #c29661; }

.clive-correct-answer {
  background-color: #a3f2f9;
  border-color: #5eb7bf;
  color: #5eb7bf; }

.darwin-correct-answer {
  background-color: #e2c2f9;
  border-color: #a37ac2;
  color: #a37ac2; }

.houseman-correct-answer {
  background-color: #fbb8b8;
  border-color: #c66e6d;
  color: #c66e6d; }

.webb-correct-answer {
  background-color: #fceba8;
  border-color: #c6b15e;
  color: #c6b15e; }

.acton-correct-answer-check {
  color: #3a7794; }

.baxter-correct-answer-check {
  color: #886235; }

.clive-correct-answer-check {
  color: #347c83; }

.darwin-correct-answer-check {
  color: #714393; }

.houseman-correct-answer-check {
  color: #933b3a; }

.webb-correct-answer-check {
  color: #8c7a32; }

input {
  font-family: Dosis, sans-serif; }

.input-editable {
  border: none;
  background-color: transparent !important; }

.input-settings {
  font-family: Dosis, sans-serif;
  font-size: 22px;
  border-radius: 4px;
  border: 3px solid #000;
  padding-left: 10px;
  -webkit-appearance: none;
  width: 100%;
  height: 50px; }

input:focus {
  outline: 0; }

.question-input {
  font-size: 50px;
  width: 100%;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-left: 0; }

.answer-input {
  font-size: 28px;
  position: relative;
  bottom: 6px;
  padding-left: 0;
  width: 75%; }

.fa-pencil {
  margin-left: 15px;
  bottom: 4px;
  position: relative; }

.question-pencil {
  font-size: 40px; }

form .field {
  margin-bottom: 15px; }

.input-acton {
  color: #6eaac6; }

.input-baxter {
  color: #c29661; }

.input-clive {
  color: #5eb7bf; }

.input-darwin {
  color: #a37ac2; }

.input-houseman {
  color: #c66e6d; }

.input-webb {
  color: #c6b15e; }

.acton-input::-webkit-input-placeholder {
  color: #a5cadc; }

.baxter-input::-webkit-input-placeholder {
  color: #d7bb98; }

.clive-input::-webkit-input-placeholder {
  color: #95cfd5; }

.darwin-input::-webkit-input-placeholder {
  color: #c7aeda; }

.houseman-input::-webkit-input-placeholder {
  color: #dba5a4; }

.webb-input::-webkit-input-placeholder {
  color: #dacc96; }

.acton-input {
  background-color: #d1eefc;
  border-color: #6eaac6;
  color: #6eaac6; }

.baxter-input {
  background-color: #fbe1c1;
  border-color: #c29661;
  color: #c29661; }

.clive-input {
  background-color: #bbf5fb;
  border-color: #5eb7bf;
  color: #5eb7bf; }

.darwin-input {
  background-color: #eddafb;
  border-color: #a37ac2;
  color: #a37ac2; }

.houseman-input {
  background-color: #fcd0d0;
  border-color: #c66e6d;
  color: #c66e6d; }

.webb-input {
  background-color: #fdf0c0;
  border-color: #c6b15e;
  color: #c6b15e; }

