.button
{
  font-family: 'Dosis';
  font-size: 25px;
  font-weight: 600;

  display: inline-block;

  width: 200px;
  height: 60px;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 140px;
  padding: 8px;

  cursor: pointer;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  text-align: center;

  border: 3px solid;
  border-radius: 4px;
}

.button:hover
{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button:active
{
  -webkit-transform: scale(.6) !important;
          transform: scale(.6) !important;
}
