$acton: rgb(110,170,198);
$baxter: rgb(194,150,97);
$clive: rgb(94,183,191);
$darwin: rgb(163,122,194);
$houseman: rgb(198,110,109);

.button {
  width: 100px;
  height: 80px;
}

.button-acton {
  @extend .button;
  background-color: lighten($acton, 10);
}
