h1 {
  font-family: $font-stack;
  font-size: 70px;
  margin-bottom: 5px
}

h2 {
  font-family: $font-stack;
  font-size: 50px;
  margin-bottom: 25px
;  // margin-bottom: 5px
}

p {
  font-family: $font-stack;
  font-size: 26px;
}

.centre {
  text-align: center;
}

@include house-typography(h1);
@include house-typography(h2);

form
{
  width: 515px;
  margin: 0 auto;
}
