h1
{
    font-family: $font-stack;
    font-size: 70px;

    margin-bottom: 5px;
}

h2
{
    font-family: $font-stack;
    font-size: 50px;

    margin-top: 0;
    margin-bottom: 15px;
}

h3
{
    font-family: $font-stack;

    margin-bottom: 0;
}

p
{
    font-family: $font-stack;
    font-size: 26px;
}

.question-title
{
    font-size: 4em;

    margin-top: 5px;
    margin-bottom: 5px;
}

.ReactModal__Content label
{
    font-family: $font-stack;
    font-size: 17px;

    display: block;
    clear: both;

    padding-bottom: 3px;
}

ul
{
    padding: 0;
}

li
{
    list-style-type: none;
}

.quiz-titles
{
    p
    {
        font-size: 20px;
    }
}

.centre
{
    text-align: center;
}

form
{
    width: 515px;
    margin: 0 auto;
}
