h1 {
  font-family: $font-stack;
  font-size: 70px;
  margin-bottom: 5px
}

h2 {
  font-family: $font-stack;
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 5px;
}

h3 {
  font-family: $font-stack;
  margin-bottom: 30px;
}

p {
  font-family: $font-stack;
  font-size: 26px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.centre {
  text-align: center;
}

@include house-typography(h1, 3);
@include house-typography(h2);
@include house-typography(h3);

form
{
  width: 515px;
  margin: 0 auto;
}
